.NavigationsItem{
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    height: 100%;
}

.NavigationsItem a{
    color: #8F5C2C;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;

}
.NavigationsItem a:hover,
.NavigationsItem a:active,
.NavigationsItem a.active{

    color: #40A4C8;
}

@media (min-width: 500px){
    .NavigationsItem{
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationsItem a{
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    
    }
    .NavigationsItem a:hover,
    .NavigationsItem a:active,
    .NavigationsItem a.active{
        background: #8F5C2C;
        border-bottom: 4px solid #40A4C8;
        color: white;
    }
}